<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBnJdJU60lX17_PhGx1fAOTugYfEAYaDp4</string>
	<key>GCM_SENDER_ID</key>
	<string>873930974221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>elsawy.MyFiles</string>
	<key>PROJECT_ID</key>
	<string>new-download-4d749</string>
	<key>STORAGE_BUCKET</key>
	<string>new-download-4d749.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:873930974221:ios:7bec21e68cb3a6d8e66144</string>
</dict>
</plist>